.board{
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    height: 540px;
    width: 540px;
    gap: 10px;
    border-radius: 3px;
    padding: 30px;
}
.btn{
    border-radius: 5px;
    background-color: #2f4553;
    height: 100px;
    width: 100px;
    transition: ease 200ms;
    cursor: pointer;
}
.btn:hover{
    transform: translateY(-5px);
    transition: ease-out    220ms;
}
.red{
    background-color: red;
}
.reset{
    margin-top: 30px;
}
h2{
    margin-bottom: 40px;
}
.disable{
    cursor:not-allowed;
}
.green{
    background-color: limegreen;
}